.arrivals {
    padding-top: 120px;
    padding-bottom: 143px;
}

.arrivals-header {
    margin-bottom: 100px;
}

.arrivals-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.04;
    display: inline-block;

    position: relative;
}

.arrivals-title::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;
    z-index: -1;

    background-image: url('../../img/icons/decor-yellow.svg');
}

.arrivals-cards {
    display: flex;
    justify-content: space-between;
}